fastapi
uvicorn[standard]
pydantic==2.*
pydantic-settings
python-dotenv
sqlalchemy
alembic
psycopg2-binary
loguru
spacy
spacy-lookups-data
sentence-transformers
scikit-learn
pypdf
black
ruff
pytest
httpx
python-multipart
jinja2
rapidfuzz
reportlab>=4.2.0

